@import url(../../styles/variables.module.css);

.Container{
    width: 100%;
    min-height: calc(100vh - 147px);
    padding-block: 20px;
    text-align: center;
    color: var(--text-color);
    overflow-x: hidden;
}
